* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Now Text", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.form-control:focus {
  box-shadow: none;
}

.title {
  font-family: "Nike Futura";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
}
@media screen and (max-width: 1140px) {
  .title {
    font-size: 50px;
  }
}
@media screen and (max-width: 992px) {
  .title {
    font-size: 46px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 42px;
  }
}
@media screen and (max-width: 576px) {
  .title {
    font-size: 38px;
  }
}

.dropdown,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

header nav .navbar-collapse .navbar-nav .nav-item .dropdown {
  width: 100px;
}
@media screen and (max-width: 1140px) {
  header nav .navbar-collapse .navbar-nav .nav-item .dropdown {
    width: 87px;
  }
}
header nav .navbar-collapse .navbar-nav .nav-item .dropdown::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 0;
  height: 3px;
  background: #000;
  transition: all 0.5s ease;
}
header nav .navbar-collapse .navbar-nav .nav-item .dropdown:hover::before {
  width: 50%;
}
header nav .navbar-collapse .navbar-nav .nav-item .dropdown:hover .dropdown-menu {
  display: block;
}
header nav .navbar-collapse .navbar-nav .nav-item .dropdown .dropdown-menu {
  width: 100%;
  transition: all 0.5s ease;
}
header nav .navbar-collapse .navbar-nav .nav-item .active {
  width: 150px;
}
@media screen and (max-width: 1140px) {
  header nav .navbar-collapse form {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header nav .navbar-collapse form {
    max-width: 140px;
  }
}
@media screen and (max-width: 576px) {
  header nav .navbar-collapse form {
    display: none;
  }
}
header nav .user .fa-magnifying-glass {
  top: 0;
  right: 50px;
  cursor: pointer;
}
@media screen and (max-width: 1140px) {
  header nav .user .fa-magnifying-glass {
    right: 40px;
  }
}
@media screen and (max-width: 576px) {
  header nav .user .fa-magnifying-glass {
    right: 30px;
  }
}
@media screen and (max-width: 384px) {
  header nav .user .fa-magnifying-glass {
    display: none;
  }
}
header nav i {
  font-size: 22px;
}

.new_arrivals .row .new_arrivals_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new_arrivals .row .new_arrivals_box:hover .box_content {
  height: 0;
  overflow: hidden;
}
.new_arrivals .row .new_arrivals_box:hover .box_view_more {
  height: 160px;
}
@media screen and (max-width: 992px) {
  .new_arrivals .row .new_arrivals_box:hover .box_view_more {
    height: 200px;
  }
}
.new_arrivals .row .new_arrivals_box .box_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new_arrivals .row .new_arrivals_box .box_content h3 {
  position: relative;
}
.new_arrivals .row .new_arrivals_box .box_content h3::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: #000;
}
.new_arrivals .row .new_arrivals_box .box_view_more {
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}
.new_arrivals .row .new_arrivals_box .box_view_more:hover {
  opacity: 0.8;
}
.new_arrivals .row .new_arrivals_img {
  position: relative;
  overflow: hidden;
}
.new_arrivals .row .new_arrivals_img img {
  height: 620px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease;
}
@media screen and (max-width: 992px) {
  .new_arrivals .row .new_arrivals_img img {
    max-height: 600px;
  }
}
@media screen and (max-width: 768px) {
  .new_arrivals .row .new_arrivals_img img {
    max-height: 520px;
  }
}
@media screen and (max-width: 576px) {
  .new_arrivals .row .new_arrivals_img img {
    max-height: 440px;
  }
}
.new_arrivals .row .new_arrivals_img::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: rgba(255, 255, 255, 0.15);
  transform: skewX(-20deg);
  transition: all 0.5s ease;
}
.new_arrivals .row .new_arrivals_img:hover img {
  transform: scale(1.1, 1.1);
}
.new_arrivals .row .new_arrivals_img:hover::after {
  left: 150%;
}
@media screen and (max-width: 992px) {
  .new_arrivals .row .new_arrivals_img:last-child {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .new_arrivals .row .new_arrivals_img:last-child {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .video iframe {
    max-height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .video iframe {
    max-height: 400px;
  }
}
@media screen and (max-width: 576px) {
  .video iframe {
    max-height: 300px;
  }
}/*# sourceMappingURL=style.css.map */