@import "./base/base";
@import "./helpers/variables";
@import "./helpers/animations";
@import "./helpers/mixins";
@import "./themes/darkThemes";

header {
  nav {
    i {
      font-size: 22px;
    }
    .navbar-brand {
      img {
        @media screen and (max-width: 1200px) {
          height: 70px;
          width: 70px;
        }
        @media screen and (max-width: 992px) {
          height: 60px;
          width: 60px;
        }
        @media screen and (max-width: 768px) {
          height: 50px;
          width: 50px;
        }
        @media screen and (max-width: 576px) {
          height: 40px;
          width: 40px;
        }
      }
      span {
        @media screen and (max-width: 576px) {
          display: none;
        }
      }
    }
    .navbar-collapse {
      @media screen and (max-width: 992px) {
        order: 1;
      }
      .navbar-nav {
        .nav-item {
          .dropdown {
            transition: $transition;
            button {
              position: relative;
              padding: 0;
              margin: 0 20px;
              @media screen and (max-width: 1200px) {
                margin: 0 12px;
              }
              &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 3px;
                background: $main-color;
                transition: $transition;
              }
              &:hover::before {
                width: 100%;
              }
            }
            .dropdown-menu {
              transition: $transition;
            }
            &:hover .dropdown-menu {
              display: block;
            }
          }
        }
      }
    }
    form {
      input.form-control {
        @media screen and (max-width: 1400px) {
          display: none;
        }
        @media screen and (max-width: 992px) {
          display: block;
        }
        @media screen and (max-width: 768px) {
          max-width: 130px;
        }
        @media screen and (max-width: 576px) {
          max-width: 240px;
        }
        @media screen and (max-width: 452px) {
          max-width: 120px;
        }
      }
      .fa-magnifying-glass {
        top: 7px;
        right: 12px;
        @media screen and (max-width: 1400px) {
          top: -12px;
        }
        @media screen and (max-width: 992px) {
          top: 7px;
        }
      }
    }
    .navbar-icon {
      .fa-user {
        margin-right: 10px;
      }
    }
  }
}

.new_arrivals {
  .row {
    .new_arrivals_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // transition: $transition;
      .box_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 1px;
            width: 100%;
            background-color: $main-color;
          }
        }
      }
      .box_view_more {
        text-align: center;
        height: 0;
        overflow: hidden;
        transition: $transition;
        &:hover {
          opacity: 0.8;
        }
      }
      &:hover .box_content {
        height: 0;
        opacity: 0;
        overflow: hidden;
      }
      &:hover .box_view_more {
        height: 180px;
      }
    }
    .new_arrivals_img {
      position: relative;
      height: 620px;
      overflow: hidden;
      @media screen and (max-width: 1200px) {
        height: 540px;
      }
      @media screen and (max-width: 992px) {
        height: 460px;
      }
      @media screen and (max-width: 768px) {
        height: 360px;
      }
      @media screen and (max-width: 576px) {
        height: 500px;
      }
      @media screen and (max-width: 392px) {
        height: 380px;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: $transition;
      }
      &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: -100%;
        background-color: rgba(255, 255, 255, 0.15);
        transform: skewX(-20deg);
        transition: $transition;
      }
      &:hover img {
        transform: scale(1.1, 1.1);
      }
      &:hover::after {
        left: 150%;
      }
    }
  }
}

.index_video {
  iframe {
    @media screen and (max-width: 992px) {
      max-height: 500px;
    }
    @media screen and (max-width: 768px) {
      max-height: 400px;
    }
    @media screen and (max-width: 576px) {
      max-height: 300px;
    }
  }
}

/**=== Banner (devCong) ===**/

.banner {
  background-color: $main-color;
  #homeSlider {
    .carousel-inner {
      .carousel-item {
        background-repeat: no-repeat;
        background-size: contain;
        // @media screen and (min-width: 320px) {
        //   height: 710px;
        // }
        // @media screen and (min-width: 576px) {
        //   height: 770px;
        // }
        // @media screen and (min-width: 768px) {
        //   height: 500px;
        // }
        // @media screen and (min-width: 992px) {
        //   height: 450px;
        // }
        @media screen and (min-width: 992px) {
          min-height: 558px;
        }
        .carousel-pic {
          .watermark {
            position: absolute;
            text-transform: uppercase;
            opacity: 0.2;
          }
          img {
            animation: picRotate 5s infinite;
          }
        }

        .carousel-caption {
          position: unset;
          right: unset;
          bottom: unset;
          left: unset;
          width: 75%;
          margin-top: 50px;
          margin-left: 20%;

          .subTitle {
            @include styleText($white, $fs-xl, 600);
            margin-bottom: 0;
          }
          h2 {
            @include styleText($blue-dark, $fs-slide, 900);
            margin-top: 0;
            &.nikeFuturaND {
              font-size: 106px !important;
            }
          }
          p {
          }
          button {
            border: solid 1px transparent;
          }

          &.iOrange {
            h2 {
              color: $highlight-color;
              &.nikeFuturaND {
                color: #b50c0c !important;
              }
            }
            p {
            }
            button {
              @include styleButton($white, $orange-bold);
              &:hover {
                box-shadow: $orange-light -10px 0px 30px,
                  $orange-light 10px 0px 30px;
                border-color: $orange-light;
              }
            }
          }
          &.iBlue {
            h2 {
              color: $blue-dark;
            }
            button {
              @include styleButton($white, $blue-dark);
              &:hover {
                box-shadow: $cyan -10px 0px 30px, $cyan 10px 0px 30px;
                border-color: $cyan;
              }
            }
          }
          &.iRed {
            h2 {
              color: $red-dark;
            }
            button {
              @include styleButton($white, $red-dark);
              &:hover {
                box-shadow: $red-light -10px 0px 30px, $red-light 10px 0px 30px;
                border-color: $red-light;
              }
            }
          }
          &.iVioletBlue {
            h2 {
              color: $violetBlue;
            }
            button {
              @include styleButton($white, $violetBlue);
              &:hover {
                box-shadow: $violetBlue-light -10px 0px 30px,
                  $violetBlue-light 10px 0px 30px;
                border-color: $violetBlue-light;
              }
            }
          }
        }

        &.left {
          background-position: left top !important;
          .row {
            .carousel-pic {
              .watermark {
                top: 0px;
                line-height: 0.8;
                @include styleText($white, $fs-slide * 1.15, 600);
                span {
                  @include styleText($white, $fs-slide * 2, 600);
                  display: inline-block;
                  margin-top: -20px;
                }

                @media screen and (max-width: 600px) {
                  transform: scale(50%);
                  transform-origin: top left;
                  margin-left: 0 !important;
                  margin-top: 5vw !important;
                }
                @media screen and (max-width: 400px) {
                  display: none;
                }
              }
              img {
              }
            }
            .carousel-caption {
              text-align: left;

              .subTitle {
              }
              h2 {
                font-size: $fs-slide * 0.75;
              }
            }
          }
        }

        &.right {
          background-position: right top !important;

          .row {
            // flex-direction: row-reverse;

            .carousel-pic {
              .watermark {
                top: 33vh;
                margin-left: 80px;
                @include styleText($white, 21vw, 600);
              }
            }
            .carousel-caption {
              text-align: left;
              h2 {
                font-size: $fs-slide;
              }
            }
          }
        }
        // =============== responsive carousel item ================
        @media screen and (max-width: 991.98px) {
          background-size: cover;

          .carousel-caption {
            margin-left: 20px !important;
            h2 {
              &.nikeFuturaND {
                font-size: 95px !important;
              }
            }
          }

          &.left {
            background-position: left top !important;
            .row {
              .carousel-pic {
                .watermark {
                  transform: scale(75%);
                  transform-origin: top left;
                }
              }
              .carousel-caption {
                width: 100%;

                .subTitle {
                  font-size: $fs-lg;
                }
                h2 {
                  font-size: $fs-slide * 0.5;
                }
              }
            }
          }

          &.right {
            .row {
              .carousel-pic {
                .watermark {
                  top: 19vh;
                  margin-left: 30px;
                }
              }
            }
          }
        }

        @media screen and (max-width: 767.98px) {
          .carousel-caption {
            text-align: center !important;
            margin: -30px 0 20px !important;
            width: unset;
          }
          &.right {
            .row {
              .carousel-pic {
                .watermark {
                  display: none;
                }
              }
            }
          }
        }

        @media screen and (max-width: 600px) {
          &.left {
            .row {
              .carousel-pic {
                .watermark {
                  transform: scale(50%);
                  transform-origin: top left;
                  margin-left: 0 !important;
                  margin-top: 5vw !important;
                }
              }
            }
          }
        }

        @media screen and (max-width: 400px) {
          &.left {
            .row {
              .carousel-pic {
                .watermark {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    // end carousel item
    .carousel_arrow {
      display: none;
    }
    &:hover .carousel_arrow {
      display: flex;
    }
  }
}
/**=== end devCong ===**/

// Back To Top
.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: white;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  // back-to-top button visible
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  // reduce button opacity if user keeps scrolling
  opacity: 0.5;
}
