@import "./base/base";
@import "./helpers/variables";
@import "./helpers/animations";
@import "./helpers/mixins";
@import "./themes/darkThemes";

header {
  nav {
    i {
      font-size: 22px;
    }
    .navbar-brand {
      img {
        @media screen and (max-width: 1200px) {
          height: 70px;
          width: 70px;
        }
        @media screen and (max-width: 992px) {
          height: 60px;
          width: 60px;
        }
        @media screen and (max-width: 768px) {
          height: 50px;
          width: 50px;
        }
        @media screen and (max-width: 576px) {
          height: 40px;
          width: 40px;
        }
      }
      span {
        color: $highlight-color;
        @media screen and (max-width: 576px) {
          display: none;
        }
      }
    }
    .navbar-collapse {
      @media screen and (max-width: 992px) {
        order: 1;
      }
      .navbar-nav {
        .nav-item {
          .dropdown {
            transition: $transition;
            button {
              position: relative;
              padding: 0;
              margin: 0 20px;
              @media screen and (max-width: 1200px) {
                margin: 0 12px;
              }
              &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 3px;
                background: $main-color;
                transition: $transition;
              }
              &:hover::before {
                width: 100%;
              }
            }
            .dropdown-menu {
              transition: $transition;
            }
            &:hover .dropdown-menu {
              display: block;
            }
          }
        }
      }
    }
    form {
      input.form-control {
        @media screen and (max-width: 1400px) {
          display: none;
        }
        @media screen and (max-width: 992px) {
          display: block;
        }
        @media screen and (max-width: 768px) {
          max-width: 130px;
        }
        @media screen and (max-width: 576px) {
          max-width: 240px;
        }
        @media screen and (max-width: 452px) {
          max-width: 140px;
        }
        @media screen and (max-width: 400px) {
          max-width: 120px;
        }
      }
      .fa-magnifying-glass {
        top: 7px;
        right: 12px;
        @media screen and (max-width: 1400px) {
          top: -12px;
        }
        @media screen and (max-width: 992px) {
          top: 7px;
        }
      }
    }
    .navbar-icon {
      .fa-user {
        margin-right: 10px;
      }
    }
  }
}

/**=== Banner (devCong) ===**/
.banner {
  background-color: $main-color;
  // height: 80vh;
  #homeSlider {
    .carousel-inner {
      .carousel-item {
        // height: 80vh;
        background-repeat: no-repeat;
        background-size: contain;
        .carousel-pic {
          .watermark {
            position: absolute;
            text-transform: uppercase;
            opacity: 0.2;
          }
          img {
            animation: picRotate 5s infinite;
          }
        }

        .carousel-caption {
          position: unset;
          right: unset;
          bottom: unset;
          left: unset;
          width: 75%;
          margin-top: 50px;
          margin-left: 20%;

          .subTitle {
            @include styleText($white, $fs-xl, 600);
            margin-bottom: 0;
          }
          h2 {
            @include styleText($blue-dark, $fs-slide, 900);
            margin-top: 0;
            &.nikeFuturaND {
              font-size: 106px !important;
            }
          }
          p {
          }
          button {
            border: solid 1px transparent;
            padding: 6px 50px;
            margin: 15px 10px 15px 0;
            border-radius: 30px;
            text-transform: uppercase;
            font-weight: 600;
            //   border: none;
            transition: all 0.5s;
            cursor: pointer;
          }

          &.iOrange {
            h2 {
              color: $highlight-color;
              &.nikeFuturaND {
                color: #b50c0c !important;
              }
            }
            p {
            }
            button {
              @include styleBtnBanner($white, $orange-bold);
              &:hover {
                box-shadow: $orange-light -10px 0px 30px,
                  $orange-light 10px 0px 30px;
                border-color: $orange-light;
              }
            }
          }
          &.iBlue {
            h2 {
              color: $blue-dark;
            }
            button {
              @include styleBtnBanner($white, $blue-dark);
              &:hover {
                box-shadow: $cyan -10px 0px 30px, $cyan 10px 0px 30px;
                border-color: $cyan;
              }
            }
          }
          &.iRed {
            h2 {
              color: $red-dark;
            }
            button {
              @include styleBtnBanner($white, $red-dark);
              &:hover {
                box-shadow: $red-light -10px 0px 30px, $red-light 10px 0px 30px;
                border-color: $red-light;
              }
            }
          }
          &.iVioletBlue {
            h2 {
              color: $violetBlue;
            }
            button {
              @include styleBtnBanner($white, $violetBlue);
              &:hover {
                box-shadow: $violetBlue-light -10px 0px 30px,
                  $violetBlue-light 10px 0px 30px;
                border-color: $violetBlue-light;
              }
            }
          }
        }

        &.left {
          background-position: left top !important;
          .row {
            .carousel-pic {
              .watermark {
                top: 0px;
                line-height: 0.8;
                @include styleText($white, $fs-slide * 1.15, 600);
                span {
                  @include styleText($white, $fs-slide * 2, 600);
                  display: inline-block;
                  margin-top: -20px;
                }

                @media screen and (max-width: 600px) {
                  transform: scale(50%);
                  transform-origin: top left;
                  margin-left: 0 !important;
                  margin-top: 5vw !important;
                }
                @media screen and (max-width: 400px) {
                  display: none;
                }
              }
              img {
              }
            }
            .carousel-caption {
              text-align: left;

              .subTitle {
              }
              h2 {
                font-size: $fs-slide * 0.75;
              }
            }
          }
        }

        &.right {
          background-position: right top !important;

          .row {
            // flex-direction: row-reverse;

            .carousel-pic {
              .watermark {
                top: 33vh;
                margin-left: 80px;
                @include styleText($white, 21vw, 600);
              }
            }
            .carousel-caption {
              text-align: left;
              h2 {
                font-size: $fs-slide;
              }
            }
          }
        }
        // =============== responsive carousel item ================
        // responsive carousel item

        @media screen and (min-width: 1200px) {
          height: 558px;
        }

        @media screen and (max-width: 991.98px) {
          height: 460px;
          background-size: cover;

          .carousel-caption {
            margin-left: 20px !important;
            h2 {
              &.nikeFuturaND {
                font-size: 95px !important;
              }
            }
          }

          &.left {
            background-position: left top !important;
            .row {
              .carousel-pic {
                .watermark {
                  transform: scale(75%);
                  transform-origin: top left;
                }
              }
              .carousel-caption {
                width: 100%;

                .subTitle {
                  font-size: $fs-lg;
                }
                h2 {
                  font-size: $fs-slide * 0.5;
                }
              }
            }
          }

          &.right {
            .row {
              .carousel-pic {
                .watermark {
                  top: 19vh;
                  margin-left: 30px;
                }
              }
              .carousel-caption {
              }
            }
          }
        }

        @media screen and (max-width: 767.98px) {
          height: 770px;
          .carousel-caption {
            text-align: center !important;
            margin: -30px 0 20px !important;
            width: unset;
          }
          &.right {
            .row {
              .carousel-pic {
                .watermark {
                  display: none;
                }
              }
              .carousel-caption {
                h2 {
                }
              }
            }
          }
        }

        @media screen and (max-width: 575.98px) {
          height: 700px;
        }

        @media screen and (max-width: 600px) {
          &.left {
            .row {
              .carousel-pic {
                .watermark {
                  transform: scale(50%);
                  transform-origin: top left;
                  margin-left: 0 !important;
                  margin-top: 5vw !important;
                }
                img {
                }
              }
              .carousel-caption {
                .subTitle {
                }
                h2 {
                }
              }
            }
          }
        }

        @media screen and (max-width: 400px) {
          &.left {
            .row {
              .carousel-pic {
                .watermark {
                  display: none;
                }
                img {
                }
              }
              .carousel-caption {
                .subTitle {
                }
                h2 {
                }
              }
            }
          }
        }
      }
    }
    // end carousel item
    .carousel_arrow {
      display: none;
    }
    &:hover .carousel_arrow {
      display: flex;
    }
  }
}

/**=== our services ===**/
.services {
  h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 auto 50px;
    text-align: center;
    letter-spacing: 3px;
  }
  .service_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    &:hover {
      .service_icon {
        img {
          animation: leftRight 2s infinite;
        }
      }
    }
    .service_icon {
      img {
        width: 85%;
        margin-bottom: 20px;
      }
    }
    .service_content {
      text-align: center;
      h4 {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      p {
        color: #999;
        font-size: 14px;
        margin: 0;
      }
      a {
        font-size: 11px;
        font-weight: 600;
        color: #999;
        &:hover {
          color: $highlight-color;
        }
      }
    }
  }
}
/**=== end devCong ===**/

.new_release,
.related_products {
  .owl-carousel {
    .carousel_item {
      position: relative;
      overflow: hidden;
      &:hover .item_icon i {
        transform: translateX(0);
      }
      &:hover .item_add {
        transform: translateY(0);
      }
      img {
        cursor: default;
      }
      .item_icon {
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i {
          width: 42px;
          height: 42px;
          line-height: 42px;
          text-align: center;
          border-radius: 50%;
          color: #909090;
          background-color: white;
          font-size: 14px;
          box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
          display: block;
          transform: translateX(65px);
        }
        .fa-heart {
          margin-bottom: 10px;
          &:hover {
            color: white;
            background-color: rgb(248, 52, 52);
          }
        }
        .fa-image {
          &:hover {
            color: white;
            background-color: $highlight-color;
          }
        }
      }
      .item_add {
        background-color: #e7e8eb;
        text-align: center;
        position: absolute;
        bottom: 10px;
        left: 15px;
        width: calc(100% - 30px);
        border-radius: 50px;
        padding: 0 20px;
        cursor: pointer;
        transition: $transition;
        transform: translateY(70px);
        &:hover {
          color: white;
          background-color: $highlight-color;
        }
        h6 {
          font-size: 12px;
          line-height: 40px;
          margin-bottom: 0;
        }
      }
    }
  }
}

.new_arrivals {
  .row {
    .new_arrivals_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // transition: $transition;
      .box_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 1px;
            width: 100%;
            background-color: $main-color;
          }
        }
      }
      .box_view_more {
        text-align: center;
        height: 0;
        overflow: hidden;
        transition: $transition;
        &:hover {
          opacity: 0.8;
        }
      }
      &:hover .box_content {
        height: 0;
        opacity: 0;
        overflow: hidden;
      }
      &:hover .box_view_more {
        height: 180px;
      }
    }
    .new_arrivals_img {
      position: relative;
      height: 580px;
      overflow: hidden;
      @media screen and (max-width: 1200px) {
        height: 500px;
      }
      @media screen and (max-width: 992px) {
        height: 420px;
      }
      @media screen and (max-width: 768px) {
        height: 360px;
      }
      @media screen and (max-width: 576px) {
        height: 480px;
      }
      @media screen and (max-width: 392px) {
        height: 380px;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: $transition;
      }
      &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: -100%;
        background-color: rgba(255, 255, 255, 0.15);
        transform: skewX(-20deg);
        transition: $transition;
      }
      &:hover img {
        transform: scale(1.1, 1.1);
      }
      &:hover::after {
        left: 150%;
      }
    }
  }
}

.index_video {
  iframe {
    @media screen and (max-width: 992px) {
      max-height: 500px;
    }
    @media screen and (max-width: 768px) {
      max-height: 400px;
    }
    @media screen and (max-width: 576px) {
      max-height: 300px;
    }
  }
}

.current_product {
  .product_content {
    .nav {
      .nav-item {
        .nav-link {
          padding: 1vw 2vw;
          font-size: 1.5vw;
          color: #909090;
          &:hover {
            color: black;
          }
          @media screen and (max-width: 991.98px) {
            font-size: 2.5vw;
          }
          @media screen and (max-width: 991.98px) {
            font-size: 4vw;
          }
        }
        .active {
          color: white;
          background-color: $highlight-color;
          &:hover {
            color: white;
          }
        }
      }
    }
    .tab-content {
      .tab-pane {
        .row {
          .product_item {
            .item_img {
              position: relative;
              padding: 20px;
              background-color: #ebeeef;
              overflow: hidden;
              img {
                width: 100%;
              }
              .item_icon {
                position: absolute;
                top: 15px;
                right: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                i {
                  width: 42px;
                  height: 42px;
                  line-height: 42px;
                  text-align: center;
                  border-radius: 50%;
                  color: #909090;
                  background-color: white;
                  font-size: 14px;
                  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
                  display: block;
                  transform: translateX(65px);
                }
                .fa-heart {
                  margin-bottom: 10px;
                  &:hover {
                    color: white;
                    background-color: rgb(248, 52, 52);
                  }
                }
                .fa-image {
                  &:hover {
                    color: white;
                    background-color: $highlight-color;
                  }
                }
              }
              .item_price {
                position: absolute;
                bottom: 0;
                left: 15px;
                transition: $transition;
              }
            }
            .item_info {
              h4 {
                text-transform: capitalize;
              }
              .info_star {
                i {
                  color: rgb(253, 253, 37);
                }
              }
            }
            &:hover .item_icon i {
              transform: translateX(0);
            }
            &:hover .item_price {
              transform: translateY(-20px);
            }
          }
        }
      }
    }
  }
}

footer {
  color: white;
  a {
    color: white;
    &:hover {
      color: $highlight-color;
    }
  }
  .footer_top {
    padding: 100px 0;
    @media screen and (max-width: 992px) {
      padding: 70px 0;
    }
    .col-lg-3 {
      ul {
        li {
          margin-bottom: 20px;
        }
      }
    }
    .col-lg-6 {
      .mb-3 {
        .form-control-lg {
          font-size: 16px;
          border-radius: 50px;
          margin: 30px 0;
        }
        .fa-arrow-right {
          width: 48px;
          height: 48px;
          text-align: center;
          line-height: 48px;
          border-radius: 50%;
          font-size: 20px;
          color: black;
          position: absolute;
          top: 5px;
          right: 20px;
          &:hover {
            color: white;
            background-color: #2ed573;
          }
        }
      }
      .footer_icon {
        i {
          font-size: 24px;
          margin: 0 10px;
          &:hover {
            color: $highlight-color;
          }
        }
      }
    }
    h5 {
      font-weight: 600;
      margin-bottom: 25px;
    }
  }
  .footer_bottom {
    border-top: 0.5px solid rgba(255, 255, 255, 0.2);
    .col-lg-3 {
      .kicks_haven {
        color: $highlight-color;
        &:hover {
          color: #2ed573;
        }
      }
    }
    .col-lg-6 {
      img {
        max-width: 40px;
        margin: 0 5px;
        cursor: pointer;
        @media screen and (max-width: 400px) {
          margin: 0 2px;
        }
      }
    }
  }
}

// Back To Top
.backToTop {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 8px;
  text-align: center;
  color: white;
  background: $highlight-color;
  display: block;
  position: fixed;
  right: 10px;
  bottom: 10px;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
  &:hover {
    color: $main-color;
  }
}

.cd-top--is-visible {
  // back-to-top button visible
  visibility: visible;
  opacity: 1;
}

// .cd-top--fade-out {
//   // reduce button opacity if user keeps scrolling
//   opacity: 0.7;
// }
