@import "./../helpers/variables";

// Reset CSS
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $ff-normal;
  // font-style: normal;
  // font-weight: 400;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
  transition: $transition;
  &:hover {
    color: $highlight-color;
  }
}

ul {
  list-style: none;
}

i,
img {
  cursor: pointer;
  transition: $transition;
}

.form-control:focus {
  box-shadow: none;
}

.title {
  font-family: "Nike Futura";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  @media screen and (max-width: 1200px) {
    font-size: 42px;
  }
  @media screen and (max-width: 992px) {
    font-size: 38px;
  }
  @media screen and (max-width: 768px) {
    font-size: 32px;
  }
}

.dropdown,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-medium;
  // font-style: normal;
  // font-weight: 400;
}

.nikeFuturaND {
  font-family: "Nike Futura ND";
  font-style: italic;
}
.ms-n4 {
  margin-left: -2.5rem !important;
}
.ms-n5 {
  margin-left: -3rem !important;
}
.ms-n6 {
  margin-left: -4rem !important;
}
.ms-n7 {
  margin-left: -6rem !important;
}
.mt-6 {
  margin-top: 4rem !important;
}
.mt-7 {
  margin-top: 5rem !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}

// render font size
$arr-fs: (
  "xs": $fs-xs,
  "sm": $fs-sm,
  "base": $fs-base,
  "lg": $fs-lg,
  "xl": $fs-xl,
  "xxl": $fs-xxl,
  "slide": $fs-slide,
  "slide-lg": $fs-slide * 1.5,
  "slide-sm": $fs-slide * 0.8,
);

@each $title, $fs in $arr-fs {
  .fs-#{$title} {
    font-size: $fs !important;
  }
}

// Transition
$transition: all 0.5s ease;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
