@import "../base/base";
@import "../helpers/variables";
@import "../helpers/animations";
@import "../helpers/mixins";
@import "../themes/darkThemes";

.video_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  display: none;
  @media (min-width: 768px) {
    display: inline-block;
  }
  &::after {
    content: "";
    background: rgba(30, 29, 29, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.img_bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../../public/image/keyboard.jpg) no-repeat center / cover;
  z-index: -1;
  @media (min-width: 768px) {
    display: none;
  }
}

.login {
  color: white;
  opacity: 0.8;
  .container {
    h2 {
      font-size: 60px;
      @media screen and (max-width: 768px) {
        font-size: 48px;
      }
    }
    form {
      .mb-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
        border-bottom: 1px solid white;
        i {
          font-size: 20px;
          cursor: none;
        }
        .form-control {
          color: white;
          background: transparent;
          border: none;
          &::placeholder {
            color: white;
          }
        }
      }
    }
    .remember_forgot {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .form-check {
        input {
          cursor: pointer;
        }
      }
      .forgot {
        a {
          color: white;
          transition: $transition;
          &:hover {
            color: rgb(6, 246, 74);
          }
        }
      }
    }
  }
}
