@import "./../base/base";
@import "./../helpers/variables";
@import "./../helpers/animations";
@import "./../helpers/mixins";
@import "./../themes/darkThemes";

.video_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  &::after {
    content: "";
    background: rgba(30, 29, 29, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.register {
  color: $form-color;
  transition: $transition;
  .container {
    h2 {
      font-size: 60px;
      color: $form-color;
      @media screen and (max-width: 768px) {
        font-size: 48px;
      }
    }
    form {
      .mb-3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
        border-bottom: 1px solid white;
        i {
          font-size: 20px;
          cursor: none;
        }
        .form-control {
          color: white;
          background: transparent;
          border: none;
          fill: white;
          &::placeholder {
            color: $form-color;
          }
        }
      }
      .remember_login {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .form-check {
          input {
            cursor: pointer;
          }
        }
        .login {
          a {
            color: $span-color;
            font-size: 18px;
            &:hover {
              color: $highlight-color;
            }
          }
        }
      }
      .btn {
        color: white;
        background-color: $highlight-color;
        transition: $transition;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.sign_in {
  display: none;
  color: $form-color;
  transition: $transition;
  .container {
    h2 {
      font-size: 60px;
      color: $form-color;
      @media screen and (max-width: 768px) {
        font-size: 48px;
      }
    }
    form {
      .mb-3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
        border-bottom: 1px solid white;
        i {
          font-size: 20px;
          cursor: none;
        }
        .form-control {
          color: white;
          background: transparent;
          border: none;
          fill: white;
          &::placeholder {
            color: $form-color;
          }
        }
      }
      .remember_forgot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .form-check {
          input {
            cursor: pointer;
          }
        }
        .forgot {
          a {
            color: $form-color;
            &:hover {
              color: $highlight-color;
            }
          }
        }
      }
      .btn {
        color: white;
        background-color: $highlight-color;
        transition: $transition;
        &:hover {
          opacity: 0.8;
        }
      }
      .or {
        span {
          display: inline-block;
          width: 50px;
          width: 50px;
          line-height: 50px;
          text-align: center;
          border-radius: 50%;
          background-color: $highlight-color;
        }
      }
      .social {
        .col-6 {
          display: flex;
          justify-content: flex-start;
          cursor: pointer;
          transition: $transition;
          &:hover {
            opacity: 0.8;
          }
        }
        i {
          font-size: 20px;
          height: 40px;
          width: 40px;
          line-height: 40px;
          text-align: center;
          border-right: 0.5px solid white;
        }
        span {
          display: inline-block;
          width: 40px;
          width: 100%;
          line-height: 40px;
        }
        .facebook {
          i {
            background-color: #3b5998;
          }
          span {
            background-color: #3b5998;
          }
        }
        .twitter {
          i {
            background-color: #1da1f2;
          }
          span {
            background-color: #1da1f2;
          }
        }
      }
      .text-right {
        a {
          color: $span-color;
          font-size: 18px;
          &:hover {
            color: $highlight-color;
          }
        }
      }
    }
  }
}
