// mixin style text
@mixin styleText($color, $fs: 16px, $fw: 400) {
  font-size: $fs;
  font-weight: $fw;
  color: $color;
  line-height: 1;
}

@mixin styleBtnBanner($color, $bg, $bg-gradient: none) {
  color: $color;
  font-size: $fs-lg;
  background-color: $bg;

  @if $bg-gradient and $bg-gradient!=none {
    background-image: $bg-gradient;
    background-size: 200%;
    background-position: left center;
  }
  &:hover {
    color: $bg;

    @if $bg-gradient and $bg-gradient!=none {
      background-color: $color;
      background-position: right center;
    }
  }
}

@mixin styleButton($color, $bg) {
  color: $color;
  background-color: $bg;
  &:hover {
    color: $bg;
    background-color: $color;
  }
}
