// Color
$main-color: #000;
$highlight-color: #ff7e22;
$button-color: linear-gradient(to right, #f67099 0, #f8ae56 51%, #ff7e22 100%);

// devCong
$white: #fff;
$orange-bold: #de411d;
$orange-light: #fca356;
$red: #e71d30;
$red-light: #e54757;
$red-dark: #790f1a;
$blue-dark: #205d92;
$cyan: #15bff1;
$violet-dark: #613772;
$violet-light: #e483bc;
$violetBlue: #3f3f90;
$violetBlue-light: #7e65d8;

// font family
$ff-normal: "Helvetica Now Text", Helvetica, Arial, sans-serif;
$ff-medium: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
// Font-size
$fs-xs: 10px;
$fs-sm: 12px;
$fs-base: 16px;
$fs-lg: 20px;
$fs-xl: 24px;
$fs-xxl: 28px;
$fs-slide: 100px;

// Transition
$transition: all 0.5s ease;
