// Color
$main-color: #000;
$highlight-color: #ff7e22;
$button-color: linear-gradient(to right, #f67099 0, #f8ae56 51%, #ff7e22 100%);

// devCong
$white: #fff;
$orange-bold: #de411d;
$orange-light: #fca356;
$red: #e71d30;
$red-light: #e54757;
$red-dark: #790f1a;
$blue-dark: #205d92;
$cyan: #15bff1;
$violet-dark: #613772;
$violet-light: #e483bc;
$violetBlue: #3f3f90;
$violetBlue-light: #7e65d8;

// Font-size
$fs-xs: 10px;
$fs-sm: 12px;
$fs-base: 16px;
$fs-lg: 20px;
$fs-xl: 24px;
$fs-xxl: 28px;
$fs-slide: 100px;

// render font size
$arr-fs: (
  "xs": $fs-xs,
  "sm": $fs-sm,
  "base": $fs-base,
  "lg": $fs-lg,
  "xl": $fs-xl,
  "xxl": $fs-xxl,
  "slide": $fs-slide,
  "slide-lg": $fs-slide * 1.5,
  "slide-sm": $fs-slide * 0.8,
);

@each $title, $fs in $arr-fs {
  .fs-#{$title} {
    font-size: $fs !important;
  }
}

.ms-n4 {
  margin-left: -2.5rem !important;
}
.ms-n5 {
  margin-left: -3rem !important;
}
.ms-n6 {
  margin-left: -4rem !important;
}
.ms-n7 {
  margin-left: -6rem !important;
}
.mt-6 {
  margin-top: 4rem !important;
}
.mt-7 {
  margin-top: 5rem !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}

// Transition
$transition: all 0.5s ease;

