/**=== FONT NIKE - https://www.nike.com/vn/ ===**/
@font-face {
  font-family: "Helvetica Now Text";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/HelveticaNowText.woff2) format("woff2"),
    url(./fonts/HelveticaNowText.woff) format("woff"),
    url(./fonts/HelveticaNowText.ttf) format("truetype");
}

@font-face {
  font-family: "Helvetica Now Text Medium";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/HelveticaNowTextMedium.woff2) format("woff2"),
    url(./fonts/HelveticaNowTextMedium.woff) format("woff"),
    url(./fonts/HelveticaNowTextMedium.ttf) format("truetype");
}
@font-face {
  font-family: "Nike TG";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Nike-TG.woff2) format("woff2"),
    url(./fonts/Nike-TG.woff) format("woff"),
    url(./fonts/Nike-TG.ttf) format("truetype");
}
@font-face {
  font-family: "Nike Futura ND";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Nike-Futura-ot-300.woff2) format("woff2"),
    url(./fonts/Nike-Futura-ot-300.woff) format("woff"),
    url(./fonts/Nike-Futura-ot-300.ttf) format("truetype");
}
@font-face {
  font-family: "Nike Futura";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Nike-Futura.woff2) format("woff2"),
    url(./fonts/Nike-Futura.woff) format("woff"),
    url(./fonts/Nike-Futura.ttf) format("truetype");
}
@font-face {
  font-family: "Helvetica Now Display Medium";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/HelveticaNowDisplayMedium.woff2) format("woff2"),
    url(./fonts/HelveticaNowDisplayMedium.woff) format("woff"),
    url(./fonts/HelveticaNowDisplayMedium.ttf) format("truetype");
}
@font-face {
  font-family: "Palatino LT Pro Light";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/PalatinoLTPro-Light.woff2) format("woff2"),
    url(./fonts/PalatinoLTPro-Light.woff) format("woff"),
    url(./fonts/PalatinoLTPro-Light.ttf) format("truetype");
}
